.idea/
.vscode/
*~
._*
.~lock.*
*.bkp
*.log
.buildpath
.DS_Store
.project
.settings
.environment
.env

# Symbolic Link Files
/bin/generate-deps-for-config-factory
/bin/generate-factory-for-class
/bin/jp.php
/bin/mezzio-tooling
/bin/openapi
/bin/php-cs-fixer
/bin/php-parse
/bin/phpcbf
/bin/phpcs
/bin/phpunit
/bin/var-dump-server
/bin/yaml-lint

# Caches
cache/app_config_cache.php
cache/fastroute.php.cache
.phpunit.result.cache

# Coverage results and execution report
!/target/unit/report.xml
!/target/integration/report.xml

# Docker logs
/docker/cron/logs/
/docker/elk/logs/
/docker/nginx/logs/
/docker/php/logs/
/docker/sonarqube/logs/
/esportes-api/node_modules/

# SonarQube files
/.scannerwork/

# Dependencies
/vendor/
